:root{
    --primary-color: #a4c2e0;
    --secondary-color:#334747;
    --accent1-color:#334747;
    --accent2-color:#0a0909;
    --heading-font:"lato";
    --body-font:"Raleway";
}

body {
    font-family: var(--body-font);
    



}

header{
    background-color:var(--primary-color);
    color:var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 30px;
    align-items: center;
}


header, main, footer {
    width: 840px;
    margin: 0 auto;
}


.logo{
width:80px;
padding: 8px;
margin-left: 100px;
border-radius: 100%;
}

nav{
    display:flex;
    justify-content:flex-end;
    gap: 20px;
    flex-wrap:wrap;
}

nav a{
    text-decoration: none;
    color: rgb(5, 41, 74);
    font-weight: bold;
    font-family: var(--body-font);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

Section {
    Max-width: 840px;
    width: 800px;
    Margin: 40px auto;
    Padding: 20px;
    background-color:rgb(133, 161, 172);
    Border: 1px solid #ddd;
    Box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p {
    color: #fff;
    font-weight: 500;
}
nav, p, section, article {
    margin: 15px;
    padding: 8px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: rgb(245, 242, 244);
    text-align: center;
}
.employees {
    background-color: rgb(245, 242, 244);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.employees figure img {
    width: 120px;
    opacity: 0.9;
    border-radius: 10px;
}

.employees figcaption {
    text-align: center;
    font-size: 10px;
    width: 120px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: var(--body-font);
    opacity: 1;
}

form {
    display: grid;
    background-color: rgb(245, 242, 244);
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 10px grey;
}

.input-box{
    display: grid;
    
    padding: 10px;
    gap: 0px;
}


.purpose {
    display: grid;
    grid-template-columns: 200px;
    gap: 10px;
    align-items: center;
    padding: 20px;}



textarea {
    height: 100px;
    text-align: center;
    width: 450px;
    grid-column: 1 / -1;
    padding: 10px;
}

.subscription {
    grid-column: 1 / -1;
    padding: 20px;
}

.form-button {
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: var(--body-font);
    color: white;
    background-color: gray;
    border-radius: 6px;
    border: none;}



footer {
    background-color: var(--primary-color);
    color: rgb(5, 41, 74);
    text-align: center;
}

.socialmedia img {
    width: 20px;
}
nav, .about-para, section, article {
    margin: 16px;
    padding: 8px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}





