:root{
    --primary-color: #a4c2e0;
    --secondary-color:#334747;
    --accent1-color:#334747;
    --accent2-color:#0a0909;
    --heading-font:"lato";
    --body-font:"Raleway";
}
header{
    background-color:var(--primary-color);
    color:var(--accent2-color);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 30px;
    align-items: center;
}

.logo{
width:150px;
padding: 10px;
margin-left: 100px;
}

nav{
    display:flex;
    justify-content:flex-end;
    gap: 20px;
    flex-wrap:wrap;
}

nav a{
    text-decoration: none;
    color: rgb(5, 41, 74);
    font-weight: bold;
    font-family: var(--body-font);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color:rgba(9, 0, 0, 0.721);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color:gainsboro;

}

.heading {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: gainsboro;
    font-family: var(--heading-font);
}
.history{
    font-family: var(--heading-font);
    color: gainsboro;
    padding-left: 80px;
    text-align: center;
    font-weight: bold;
    background-color:rgb(51, 71, 71) ;
    opacity: 0.9;
}

.history-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.history-container img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
       
}
.socialmedia img {
    width: 20px;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #a61313;
    
}
.hero article img {
  float: right;
  width: 125px; 
  margin-top: 10px;
  border-radius: 6px; 
}

.hero article {
    position: absolute;
    top: 80px;
    left: 20px;
    opacity: 0.9;
    padding: 4px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(16, 4, 4, 0.2);
}

.adventure {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.adventure-section h2 {
    text-align: center;
    color: gainsboro;
}


.adventure img {
    width: 100%;
    height: auto;
    border-radius: 31px;
}

.adventure-section {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.adventure figcaption {
    color: #fff;
    font-size: 10px;
    font-family: var(--body-font);
    font-weight: bold;
}

footer {
    background-color: var(--primary-color);
    color: rgb(5, 41, 74);
    text-align: center;
}


